# FORCE HTTPS
RewriteEngine on
RewriteCond %{HTTPS} !on
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

# CUSTOM ERROR 404 PAGE
ErrorDocument 404 https://lekarz-grodzisk.pl/

# ADD FILETYPE
AddType image/webp .webp

# BEGIN EXPIRES
<IfModule mod_expires.c>

    ExpiresActive On
    ExpiresDefault "access plus 5 seconds"
    ExpiresByType image/jpg "access plus 1 year"
    ExpiresByType image/jpeg "access plus 1 year"
    ExpiresByType image/webp "access plus 1 year"
    ExpiresByType image/gif "access plus 1 year"
    ExpiresByType image/png "access plus 1 year"
    ExpiresByType image/svg+xml "access 1 year"
    ExpiresByType font/ttf "access plus 1 year"
    ExpiresByType font/otf "access plus 1 year"
    ExpiresByType font/woff "access plus 1 year"
    ExpiresByType font/woff2 "access plus 1 year"

</IfModule>
# END EXPIRES


